__pycache__/helpers.cpython-37.pyc
__pycache__/subsetTree.cpython-37.pyc
.vscode/settings.json
DataMining.code-workspace
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
.idea/workspace.xml
.vscode/launch.json
__pycache__/helpers.cpython-36.pyc
__pycache__/submission.cpython-36.pyc
__pycache__/subsetTree.cpython-36.pyc
.idea/Data Mining.iml
